.contact-page {
  width: 100%;
  background: #fff;
}
.contact-banner {
  width: 100%;
  height: 4in;
  background: url(../assets/ContactUsLogo.png);
  background-size: cover;
  background-position: center;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-banner-text h1 {
  font-size: 36px;
  font-weight: 600;
}

.contact-banner-text p {
  font-size: 18px;
  margin-top: 10px;
}
.contact-content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}