.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  transition: all 0.4s ease;
  z-index: 1000;
  background: transparent;
  color: #fff;
}
.navbar.scrolled {
  background: #2d307e; 
  padding: 12px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 85px;
  transition: width 0.5s ease;
  
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-links li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar:not(.scrolled) .nav-links li {
  color: #fff;
  transition: color 0.3s, background 0.3s;
}

.navbar .nav-links li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.navbar .nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #ffdd00;
  transition: width 0.3s;
}

.navbar .nav-links li a:hover::after {
  width: 100%;
}

.navbar .nav-links li a:hover {
  color: #ffdd00;         
  background: rgba(255, 255, 255, 0.1); 
  padding: 2px 6px;        
  border-radius: 4px;     
}

.navbar.scrolled .nav-links li {
  color: white;
}

.nav-links li:hover {
  color: #ffdd00;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dark-nav {
  background: #2d307e;  
  color: #fff;
  padding: 10px 30px;    
}

.dark-nav .logo {
  width: 80px;          
}

.transparent {
  background: transparent;
  color: #fff;
  transform: translateY(-5px);
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: currentColor;
  margin: 4px 0;
  transition: 0.4s;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  margin: 0px 0 20px 0; 
}

.sidebar-logo img {
  width: 210px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 220px;
  height: 100vh;
  background: #2d307e;
  padding: 20px 30px;
  padding-top: 20px;
  transition: right 0.4s ease;
  z-index: 2000;
}

.sidebar.open {
  right: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  padding-left: 10px;
  text-align: right;
}

.sidebar ul li {
  margin: 18px 0;
  font-size: 17px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1500;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}