.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  transition: all 0.4s ease;
  z-index: 1000;
  background: transparent;
  color: #fff;
}
.navbar.scrolled {
  background: #2d307e; 
  padding: 12px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 85px;
  transition: width 0.5s ease;
  
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-links li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar:not(.scrolled) .nav-links li {
  color: #2d307e;
}

.navbar.scrolled .nav-links li {
  color: white;
}

.nav-links li:hover {
  color: #ffdd00;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Btn {
  background: #fff;
  color: #2d307e;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
}

.dark-nav {
  background: #2d307e;  
  color: #fff;
  padding: 10px 30px;    
}

.dark-nav .logo {
  width: 80px;          
}

.transparent {
  background: transparent;
  color: #fff;
  transform: translateY(-5px);
}