html, body, #root {
  height: 100%;         
  margin: 0;            
  display: flex;
  flex-direction: column;
}

#root > div {
  flex: 1;
}

.footer {
  background-color: #2d307e;
  z-index: 0;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  font-size: 14px;
  position: relative; /* keep it normal */
  width: 100%;
  clear: both;
}